body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11pt;
    font-weight: lighter;
    letter-spacing: 0.5pt;
}

.main {
    padding: 4px;
}

.title {
    font-size: 17pt;
    font-weight: normal;
}

.subtitle {
    font-weight: bold;
}

ul,li {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

.name {
    font-weight: normal;
    letter-spacing: normal;
}

.calendars, .description {
    padding: 4px;
}

.remove_field {
    font-size: 10pt;
}
.buttons {
    padding: 10px;
}