body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11pt;
    font-weight: lighter;
    letter-spacing: 0.5pt;
}

.main {
    padding: 4px;
}

.title {
    font-size: 17pt;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.strong {
    font-weight: normal;
    letter-spacing: normal;
}

.caption {
    font-style: italic;
    font-size: 10pt;
    padding: 4px;
}

.calendars, .description {
    padding: 4px;
}

.remove_field {
    font-size: 10pt;
}
.buttons {

}