body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

table, tr, td {
    border: 1px solid black;
    font-size: 12pt;
}

.before {
    color: #a1a1a1;
}

.after {
    color: #000000;
}

.today {
    font-weight: bold;
    background-color: #d4ecff;
}

.weekdayname {
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.weekdaydate {
    font-weight: normal;
    text-align: center;
    color: #000000;
}

.calendarname {
    white-space: nowrap;
}