@calendarColor: #000000;

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.main {

  @border: 1px;
  @spacing: 4px;
  @noSpacing: 0px;
  @columnWidth: calc(100% / 9);

  @purpleDark: #382249;
  @purpleMedium: #744796;
  @purpleLight: #AF6BE3;
  @black: #000000;
  @grayDark: #4A4A4A;
  @grayMedium: #969696;
  @grayLight: #B5B5B5;
  @white: #FFFFFF;

  @weekdayHeaderBg: rgb(255, 255, 255);
  @nameColumnBg: hsl(hue(hsl(90, 100%, 50%))*3, 100%, 50%);
  @weekdayColumnBg: rgb(255, 255, 255);
  @calendarRow: @purpleLight;
  @eventBg: @grayDark;

  display: flex;
  flex-direction: column;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(255, 255, 255);
  padding: @spacing;

  .header {
    display: flex;
    flex-direction: row;
    padding: @spacing;

    .spacer {
      flex: 0 0 @columnWidth;
      margin: @spacing;
      padding: @spacing;
    }

    .day {
      flex: 1 0 @columnWidth;
      background: @weekdayHeaderBg;
      margin: @spacing;
      padding: @spacing;
      color: #000;
      text-align: center;
    }
  }

  .event {
    background: @eventBg;
    color: #fff;
    margin: @spacing;
    border-radius: 3px;
    padding: @spacing;
    flex: 0 0 @columnWidth;
  }

  .cal {
    display: flex;
    flex-direction: row;
    padding: @spacing;
    flex: 1 0 @columnWidth;
    background: @calendarRow;
/*
    &:nth-child(odd) {
      background: @grayLight;
    }
*/

    .name {
      flex: 0 0 @columnWidth;
      background: @nameColumnBg;
      margin: @spacing;
      padding: @spacing;
    }

    .day {
      flex: 1 0 @columnWidth;
      background: @weekdayColumnBg;
      margin: @spacing;
      display: flex;
      flex-direction: column;
    }
  }

}